{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="header"{{title}}> </div>

<form method='POST' action=''>{% csrf_token %}
		{{form|crispy}}
    <input class="btn btn-info" type="submit" value="Search" />
    </form>
<!--        <input type="submit" value='Search'/>-->

<br>
<div class="display_table">
 	<table class="table table-striped">
		<thead class="table-danger">
          <tr>
            <th>COUNT</th>
<!--            <th>ID</th>-->
            <th>CATEGORY</th>
            <th>ITEM NAME</th>
            <th>QUANTITY IN STORE</th>
            <th>REORDER LEVEL</th>
<!--            <th>TIME STAMP</th>-->
            <th>LAST UPDATED</th>
<!--            <th>APPROVAL</th>-->
            <th>DELETE</th>
          </tr>
        </thead>
      {% for instance in queryset %}
          <tr>
            <td>{{forloop.counter}}</td>
<!--            <td>{{forloop.id}}</td>-->
            <td>{{instance.category}}</td>
            <td><a href="{% url 'update_items' instance.id %}">{{instance.item_name}}</a></td>
            <td>
                {% if instance.quantity <= instance.reorder_level %}
                    <div style="background-color: peru;">
                    <a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a>
                    </div>
                {% else %}
                    <a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a>
                {% endif %}
            </td>
            <td><a href="{% url 'reorder_level' instance.id %}">{{instance.reorder_level}}</a></td>
<!--            <td>{{instance.timestamp}}</td>-->
            <td>{{instance.last_updated}}</td>
<!--            <td><a href="{% url 'approve_items' instance.id %}">Approve</a></td>-->
              <td> <a href="{% url 'stock_detail' instance.id %}"><button type="button" class="btn btn-info"><i class="fas fa-info-circle"></i></button></a>
              <a href="{% url 'delete_items' instance.id %}"><button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button></a></td>

          </tr>
      {% endfor %}

    </table>
</div><!--End of display table-->

{% endblock %}