{% extends 'base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="display_table">
        <table class="table table-striped">
          <thead class="table-info">
            <tr>
              <th>COUNT</th>
              <th>CATEGORY</th>
              <th>ITEM NAME</th>
              <th>QUANTITY IN STORE</th>
              <th>REQUEST QUANTITY</th>
              <th>REQUESTED BY</th>
              <th>APPROVED BY</th>
              <th>LAST UPDATED</th>
              <th>APPROVAL STATUS</th>
              <th>APPROVE</th>
            </tr>
          </thead>
        {% for instance in queryset %}
            <tr>
              <td>{{forloop.counter}}</td>
<!--              <td>{{instance.category_id}}</td>-->
              <td>{{instance.item_name}}</td>
              <td>{{instance.quantity}}</td>
              <td>{{instance.request_quantity}}</td>
              <td>{{instance.request_by}}</td>
              <td>{{instance.issue_by}}</td>
              <td>{{instance.last_updated}}</td>
              <td>{{instance.approval}}</td>
              <td><a href="{% url 'approve_items' instance.id %}"><div class="btn btn-info">Approve</div></a></td>
            </tr>
        {% endfor %}
      </table>
    </div>



{% endblock %}