{% extends 'base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="display_table">
        <table class="table table-striped">
          <thead class="table-info">
            <tr>
              <th>COUNT</th>
              <th>CATEGORY</th>
              <th>ITEM NAME</th>
              <th>QUANTITY IN STORE</th>
              <th>RECEIVE QUANTITY</th>
              <th>RECEIVED BY</th>
              <th>LAST UPDATED</th>
            </tr>
          </thead>
        {% for instance in queryset %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{instance.category}}</td>
              <td>{{instance.item_name}}</td>
              <td>{{instance.quantity}}</td>
              <td>{{instance.receive_quantity}}</td>
              <td>{{instance.receive_by}}</td>
              <td>{{instance.last_updated}}</td>
            </tr>
        {% endfor %}
      </table>
    </div>



{% endblock %}