{% extends 'base.html' %}
{% load widget_tweaks %}

<!--{% load crispy_forms_tags %}-->

{% block content %}


    <section>
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="card-header text-black">
                  <h2>Registration</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                       <div class="col-lg-6">
                        <a type="button" class="btn btn-block" href="{% url 'teacher_register' %}"><div class="btn btn-warning">I am a Teacher</div></a>
                       </div>
                       <div class="col-lg-6">
                        <a type="button" class="btn btn-block" href="{% url 'manager_register' %}"><div class="btn btn-danger">I am a Manager</div></a>
                       </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  

{% endblock %}